<mat-tab-group>
    <mat-tab label="Immunization Alerts"> Data not found </mat-tab>
    <mat-tab label="Lab Alerts"> Data not found </mat-tab>
    <mat-tab label="DI Alerts"> Data not found </mat-tab>
    <mat-tab label="Procedure Alerts"> Data not found </mat-tab>
    <mat-tab label="Rx Specific Alerts"> <app-rx-specific-alerts></app-rx-specific-alerts> </mat-tab>
    <mat-tab label="Dx Specific Alerts"> Data not found </mat-tab>
    <mat-tab label="Patient Specific Alerts"> Data not found </mat-tab>
</mat-tab-group>